* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.supraMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: auto;
  padding: 20px;
}

.main {
  flex: 1;
}

.players {
  display: flex;
  gap: 40px;
  /* width: 100%; */
  padding: 20px 0;
}

.jugador {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cantJuegos {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.colorJugador {
  display: flex;
  gap: 20px;
  justify-content: baseline;
}
.color {
  background-color: aliceblue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
}
.azul {
  background-color: rgb(10, 55, 255);
}
.rojo {
  background-color: rgba(255, 0, 0, 0.521);
}

.tablero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.fila {
  display: flex;
  gap: 10px;
}

.cells {
  width: 100px;
  height: 100px;
  background-color: rgba(56, 56, 56, 0.884);
  border: 2px solid rgba(201, 201, 201, 0.637);
  border-radius: 10px;
  display: flex;
  font-size: 48px;
  justify-content: center;
}

.cells:hover {
  background-color: rgba(201, 201, 201, 0.637);
}
